@keyframes blinkOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blinkIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dimIn {
  animation: blinkIn 0.6s;
  animation-fill-mode: forwards;
}

.dimOut {
  animation: blinkOut 0.6s;

}

* {
  cursor: crosshair;
}

body {
  background: url("./images/background.jpg") center / cover no-repeat fixed;
  caret-color: transparent;
  user-select: none;
}


.beatBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: 30vh;
  margin: 25vh auto 0;
  min-height: 200px;
  padding: 10px;
  width: 75%;
}

.soundButton {
  background-color: rgb(44, 44, 44);
  border: none;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(255, 36, 36, 0.76);
  color: rgb(255, 79, 79);
  height: 100px;
  min-width: 100px;
  opacity: 90%;
  outline: none;
  overflow: visible;
  position: relative;
  text-align: left;
  text-shadow: 0px 0px 8px #db0000;
}

.soundButton:active {
  box-shadow: none;
  outline: none;
  transform: translate(10px, 10px);
}

.soundHotkey {
  font-size: clamp(0.65rem, 1.4vw, 0.8rem);
  text-align: center;
}

.deleteButton {
  background-color: red;
  clip-path: polygon(60% 0, 100% 0, 100% 40%);
  height: 100px;
  margin-top: -60px;
  min-width: 100px;
  pointer-events: none;

}

#inputDisplay {
  align-items: center;
  background-color: rgba(255, 0, 0, 0.521);
  border-radius: 5px;
  caret-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: flex-start;
  margin: 5vh auto 0;

  min-height: 175px;
  min-width: 100px;
  overflow: hidden;
  padding: 0;
  text-shadow: 0px 0px 5px black;
  width: 10%;
}

.inputDisplayText {
  animation: blinkOut 0.9s;
  font-size: 1rem;
  line-height: 0;
}

#editButton {
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  color: white;
  min-width: 80px;
  opacity: 0.7;
  outline: none;
  text-shadow: 0px 0px 5px black;
  width: 3.5%;
  z-index: 999;
}

#editButton:hover {
  opacity: 1;
  transition: all ease 0.5s;
  cursor: pointer;
}

#dimOverlay {
  background-color: rgba(0, 37, 44, 0.685);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 998;
}

.deleteSound:hover {
  cursor: pointer;
}

#utilityWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  height: 30vh;
  min-height: 200px;
  padding: 10px;
  width: 50%;
  min-width: 700px;
}

#supaBeatBoyWrappa {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  z-index: 999;
}
