@keyframes blinkOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body {
  background: url("./images/background.jpg") center / cover no-repeat fixed;
}

.beatBox {
  width: 75%;
  height: 30vh;
  min-height: 200px;
  margin: 25vh auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.soundButton {
  position: relative;
  height: 100px;
  min-width: 100px;
  text-align: left;
  clip-path: polygon(60% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  overflow: visible;
}

.soundHotkey {
  font-size: clamp(0.65rem, 1.4vw, 0.8rem);
  text-align: center;
}

.deleteButton {
  position: absolute;
  height: 100px;
  min-width: 100px;
  margin-top: -60px;
  background-color: red;
  clip-path: polygon(60% 0, 100% 0, 100% 40%);
  pointer-events: none;
}

#inputDisplay {
  background-color: red;
  width: 5%;
  height: 15vh;
  min-height: 45px;
  min-width: 100px;
  margin: 5vh auto 0;
  color: white;
  overflow: hidden;
  caret-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.inputDisplayText {
  animation: blinkOut 0.9s;
  font-size: 1rem;
  line-height: 0;
}

#editButton {
  background-color: red;
  margin-left: 75vw;
  width: 3.5%;
