body {
  background: url("./images/background.jpg") center / cover no-repeat fixed;
}

.beatBox {
  width: 75%;
  height: 30vh;
  min-height: 200px;
  margin: 25vh auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.soundButton {
  height: 100px;
  min-width: 100px;
  clip-path: polygon(60% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  text-align: left;
  position: relative;
  overflow: visible;
}

.soundHotkey {
  font-size: clamp(0.65rem, 1.4vw, 0.8rem);
  text-align: center;
}


.deleteButton {
  height: 100px;
  min-width: 100px;
  position: absolute;
  margin-top: -60px;

  background-color: red;
  clip-path: polygon(60% 0, 100% 0, 100% 40%);

  pointer-events: none;
}


#inputDisplay {
  background-color: red;
  width: 25%;
  height: 10vh;
  min-height: 45px;
  margin: 5vh auto 0;
  text-align: center;
  padding-top: 40px;
  color: white;
}
