@keyframes blinkOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blinkIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dimIn {
  animation: blinkIn 0.6s;
  animation-fill-mode: forwards;
}

.dimOut {
  animation: blinkOut 0.6s;
  animation-fill-mode: forwards;
}

.editBlink {
  animation: blinkIn 0.6s;
}

.lock .soundButton {
  pointer-events: none;
}

.lock .soundButton .editSound,
.lock .soundButton .deleteSound,
.lock .archivedSoundButton .trueDeleteSound {
  pointer-events: auto;
}

* {
  cursor: crosshair;
}

body {
  background: url("./images/background.jpg") center / cover no-repeat fixed;
  caret-color: transparent;
  user-select: none;
}

.beatBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: 30vh;
  margin: 25vh auto 0;
  min-height: 200px;
  padding: 10px;
  width: 75%;
}

.soundButton {
  background-color: rgb(44, 44, 44);
  border: none;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(255, 36, 36, 0.76);
  color: rgb(255, 79, 79);
  height: 100px;
  min-width: 100px;
  opacity: 90%;
  outline: none;
  overflow: visible;
  position: relative;
  text-align: left;
  text-shadow: 0px 0px 8px #db0000;
}

.soundButton:active {
  box-shadow: none;
  outline: none;
  transform: translate(10px, 10px);
}

.soundHotkey {
  font-size: clamp(0.65rem, 1.4vw, 0.8rem);
  text-align: center;
}

.deleteButton {
  background-color: red;
  clip-path: polygon(60% 0, 100% 0, 100% 40%);
  height: 100px;
  margin-top: -60px;
  min-width: 100px;
  pointer-events: none;
}

#inputDisplay {
  align-items: center;
  caret-color: transparent;
  color: rgba(255, 255, 255, 0.856);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  text-shadow: 0px 0px 30px black;
  width: 10%;
  position: fixed;
  height: 100vh;
  left: 0;
  opacity: 100%;
  pointer-events: none;
  position: fixed;
  top: 10vh;
  width: 100vw;

  text-shadow: 5px 5px 0px red;
}

.inputDisplayText {
  animation: blinkOut 0.9s;
  font-size: 15vw;
  line-height: 0;
}

#editButton {
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  color: white;
  min-width: 80px;
  opacity: 0.7;
  outline: none;
  text-shadow: 0px 0px 5px black;
  width: 3.5%;
  z-index: 10;

}

#editButton:hover {
  cursor: pointer;
}


#dimOverlay {
  background-color: rgba(0, 37, 44, 0.521);
  height: 100vh;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  pointer-events: none;
}

.editSound {
  margin-left: 50%;
}

.editSound,
.deleteSound {
  position: relative;
  z-index: 6;
}

.deleteSound:hover,
.editSound:hover,
.trueDeleteSound:hover {
  cursor: pointer;
}

#utilityWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  height: 30vh;
  min-height: 200px;
  padding: 10px;
  width: 90%;
}

#supaBeatBoyWrappa {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  z-index: 999;
}

#archivedSoundsWrapper {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  margin: auto;
  width: 60%;
}

.archivedSoundButton {
  background-color: rgba(209, 209, 209, 0.6);
  border: none;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(255, 86, 86, 0.76);
  color: rgb(255, 79, 79);
  height: 70px;
  min-width: 70px;
  opacity: 1;
  outline: none;
  overflow: visible;
  position: relative;
  text-align: center;
  text-shadow: 0px 0px 8px #500000;
  animation: blinkIn 0.6s;
}

#formDisplay {
  height: 250px;
  width: 250px;
  position: fixed;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#changeBeatSettings {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  margin: 0.5rem;
  gap: 8px;
  color: rgb(253, 233, 233);
  text-shadow: 0px 0px 5px rgb(156, 29, 29);
}

.unarchiveSound:hover {
  cursor: pointer;
}
