@keyframes blinkOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blinkIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dimIn {
  animation: blinkIn 0.6s;
  animation-fill-mode: forwards;
}

.dimOut {
  animation: blinkOut 0.6s;

}

body {
  background: url("./images/background.jpg") center / cover no-repeat fixed;
  caret-color: transparent;
  user-select: none;
}

.beatBox {
  width: 75%;
  height: 30vh;
  min-height: 200px;
  margin: 25vh auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.soundButton {
  position: relative;
  height: 100px;
  min-width: 100px;
  text-align: left;
  clip-path: polygon(75% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  overflow: visible;
  opacity: 85%;
  border-radius: 5px;
  border: none;
  background-color: rgb(44, 44, 44);
  color: red;
  text-shadow: 0px 0px 8px rgb(0, 0, 0)
}

.soundHotkey {
  font-size: clamp(0.65rem, 1.4vw, 0.8rem);
  text-align: center;
}

.deleteButton {
  position: absolute;
  height: 100px;
  min-width: 100px;
  margin-top: -60px;
  background-color: red;
  clip-path: polygon(60% 0, 100% 0, 100% 40%);
  pointer-events: none;
}

#inputDisplay {
  background-color: red;
  width: 5%;
  height: 15vh;
  min-height: 45px;
  min-width: 100px;
  margin: 5vh auto 0;
  margin-top: 120px;
  color: white;
  overflow: hidden;
  caret-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;

}

.inputDisplayText {
  animation: blinkOut 0.9s;
  font-size: 1rem;
  line-height: 0;
}

#editButton {
  background-color: red;
  margin-left: 75vw;
  width: 3.5%;
  min-width: 80px;
  z-index: 999;
  position: fixed
}

#editButton:hover {
  opacity: 50%;
}

/* layer that appears. if it slowly appears, we just define an animation that makes it 0-100, lets give the actual color the opacity value */

#dimOverlay {
  background-color: rgba(0, 37, 44, 0.85);
  width: 100vw;
  height: 100vh;
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}
